<plugin name='cxf' version='1.0.0' grailsVersion='1.3.7 &gt; *'>
  <author>Ryan Crum</author>
  <authorEmail>ryan.j.crum@gmail.com</authorEmail>
  <title>CXF Server and Client plug-in for Grails</title>
  <documentation>http://grails.org/plugin/cxf</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>DefaultCxfConfig</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.grails.cxf.test.BookStoreEndpoint</resource>
    <resource>org.grails.cxf.test.BookStoreService</resource>
    <resource>org.grails.cxf.test.CoffeeMakerEndpoint</resource>
    <resource>org.grails.cxf.test.CustomerServiceEndpoint</resource>
    <resource>org.grails.cxf.test.CustomerServiceWsdlEndpoint</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>